@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #edd500;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-top: 100px;
  font-family: "Bungee Shade", cursive;
  font-size: 95px;
  font-weight: bold;
  color: #4d5eaf;
}

h2 {
  font-size: 50px;
  color: #4b9a0e;
}

h3 {
  font-size: 25px;
  color: #ee5e36;
}

p {
  font-size: 18px;
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: #4d5eaf;
}

h6 {
  font-size: 13px;
  opacity: 0.7;
}

.profile-pic {
  margin-top: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.weather,
.birthstones,
.map {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.weather-link,
.birthstones-link {
  background: #ee5e36;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.skills {
  border-radius: 50px;
  background: #4b9a0e;
  margin: 0 auto;
  padding: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.icons,
.email {
  font-size: 18px;
  padding: 0 15px;
  text-decoration: none;
  color: #4d5eaf;
}
.email-link:hover,
.links:hover,
.fa-brands:hover {
  color: #ee5e36;
  transition: 150ms ease-in-out;
}

.footer {
  padding-bottom: 100px;
}

#about,
#work,
#contact {
  padding-top: 100px;
}

#sendButton {
  color: #4d5eaf;
}
