@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #4d5eaf;
  --secondary-color: #4b9a0e;
  --tertiary-color: #ee5e36;
  --accent-color: #edd500;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--accent-color);
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 0 15px;
}

h1 {
  margin-top: 100px;
  font-family: "Bungee Shade", cursive;
  font-size: 95px;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-size: 50px;
  color: var(--secondary-color);
}

h3 {
  font-size: 25px;
  color: var(--tertiary-color);
}

p {
  text-align: justify;
  font-size: 18px;
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

h6 {
  font-size: 13px;
  opacity: 0.7;
}

.nav-link,
.navbar-toggler {
  color: white;
}

.nav-link:hover {
  color: var(--primary-color);
}

.profile-pic {
  margin-top: 150px;
  box-shadow: var(--box-shadow);
}

.weather,
.birthstones,
.map {
  box-shadow: var(--box-shadow);
}

.weather-link,
.birthstones-link {
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.skills {
  border-radius: 50px;
  background: var(--secondary-color);
  margin: 0 auto;
  padding: 10px;
  width: 60px;
  height: 60px;
  box-shadow: var(--box-shadow);
}

.icons,
.email {
  font-size: 18px;
  padding: 0 15px;
  text-decoration: none;
  color: var(--primary-color);
}

.email-link:hover,
.links:hover,
.fa-brands:hover {
  color: var(--tertiary-color);
}

.footer {
  padding-bottom: 100px;
}

#about,
#work,
#contact {
  padding-top: 100px;
}

#sendButton {
  color: var(--primary-color);
}

@media (max-width: 414px) {
  h1 {
    padding-left: 5px;
    font-size: 30px;
  }
  h2 {
    padding-left: 5px;
    font-size: 25px;
  }
  h3 {
    margin: 0;
    padding-left: 5px;
    font-size: 18px;
  }
  p {
    padding: 0 5px;
  }

  .coder {
    margin: 0 auto;
    display: block;
  }
  .profile-pic {
    margin: 20px auto;
    display: block;
  }
  .app-links {
    text-align: center;
  }
  .icons,
  .email {
    font-size: 12px;
  }
  .logo-end {
    width: 15px;
  }
}
